<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Boot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="starter-template">
       <div>
           <form  method="POST" th:action="@{/ton}" th:object="${lisuser}" >
               <div th:each="list : ${lisuser}">
                   <input type="text"  th:value="${list.is_pattern}"  th:field="*{is_pattern}"/>
               </div>
               <div th:if="${not #lists.isEmpty(liscion)}">
                       <div th:each="lis : ${liscion}" class="checkbox">
                           <label th:text="${lis.paring_id}">     </label>
                           <label th:text="${lis.coin_pri}+'/'+${lis.coin_sec}"></label>
                       </div>
               </div>
               <div  class="form-group">
                   <button type="submit" class="btn btn-default">ตกลง</button>
               </div>
           </form>
       </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.group').hide();
        $('#1').show();
        $('#selectcoin').change(function () {
            $('.group').hide();
            $('#'+$(this).val()).show();
        })
    });
</script>
</body>
</html>